@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ========================================================================= */

/* TABLE OF CONTENTS */
/* 
1. GLOBAL
2. LAYOUT
3. TYPOGRAPHY
4. MEDIA QUERY 
*/

/* ========================================================================= */

/* 1. GLOBAL */
:root {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 10px;
}

body, html {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(185, 75%, 39%, 1);
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ========================================================================= */

/* 2. LAYOUT */

/* BG CIRCLES */
.circle1 {
  position: absolute;
  left: -745px;
  top: -630px;
  opacity: 0.20;
  transform: rotate(56deg);
}
.circle2 {
  position: absolute;
  left: 140px;
  top: 290px;
  opacity: 0.8;
}

/* CARD */
.card {
  display: relative;
  height: 376px;
  width: 326px;
  border-radius: 15px;

  /* background */
  background: #FFFFFF;
  box-shadow: 0px 50px 100px -20px rgba(8, 70, 94, 0.504835);
  z-index: 1;
}
  .header-bg, .bg-pattern {
    position: relative;
    width: 100%;
    height: 140px;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
  }
  .bg-pattern {
    position: absolute;
    width: 106%;
    left: -11px;
  }
  .image {
    position: relative;
    top: -51px;
    left: 110px;
    border-radius: 50%;
  }
    .photo-main {
      position: relative;
      border-radius: 50%;
      border: 5px solid #FFF;
    }

  .description-box {
    /* background-color: blue; */
    position: absolute;
    height: 49px;
    width: 136px;
    margin-top: -47.6px;
    margin-left: 94px;
  }
    .name-age {
      display: flex;
      align-items: center;
    }
      .name {
        height: 22px;
        width: 120px;
      }
      .age {
        height: 22px;
        width: 21px;
        margin-left: 9.5px;
      }
      .location {
        height: 17px;
        width: 100%;
        margin-top: -3px;
        margin-left: -5px;
      }

  hr {
    background-color: hsla(228, 9%, 92%, 1);
    height: 1px;
    width: 326px;
    border: none;
    margin-top: 39px;
  }

  .stats-box {
    height: 40px;
    width: 95%;
    margin-top: 2.1em;
    margin-left: 9px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
  }
    .flwr-box, .lk-box, .photo-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 47px;
    }
      .followers, .likes, .photo {
        height: 22px;
        margin-bottom: 0;
      }
      .flwrs-txt, .likes-txt, .photo-txt {
        height: 22px;
        margin-top: 5px;
      }

  .attribution {
    position: absolute;
    bottom: 100px;
  }

/* ========================================================================= */

/* 3. TYPOGRAPHY */
.name, .age {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}
  .name {
    font-weight: 600;
  }
  .location {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
  .age, 
  .location, 
  .flwrs-txt, 
  .likes-txt, 
  .photo-txt {
    color: #6B7082;
    font-weight: 300;
  }

  .followers, .likes, .photo {
    font-size: 18px;
    line-height: 22.32px;
  }
  .flwrs-txt, .likes-txt, .photo-txt {
    font-size: 10px;
    line-height: 12.4px;
    letter-spacing: 1.5px;
  }

.attribution {
  font-size: 11px; text-align: center;
}
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

/* ========================================================================= */

/* 4. MEDIA QUERY */