@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ========================================================================= */

/* TABLE OF CONTENTS */
/* 
1. GLOBAL
2. LAYOUT
3. TYPOGRAPHY
4. MEDIA QUERY 
*/

/* ========================================================================= */

/* 1. GLOBAL */
:root {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 10px;
}

body, html {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(185, 75%, 39%, 1);
  overflow: hidden;
}

body, .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:root {
  /* typography */
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 10px;
}



/* ========================================================================= */

/* 2. LAYOUT */

/* BG CIRCLES */
.circle1 {
  position: absolute;
  width: 622px;
  height: 621px;
  left: -475px;
  top: -694.97px;
  transform: rotate(65deg);
  opacity: 0.25;
  z-index: -1;
}
.circle2 {
  position: absolute;
  left: 170px;
  top: 320px;
  opacity: 0.4;
  transform: rotate(-5deg);
}

/* CARD */
.card {
  display: relative;
  height: 374px;
  width: 326px;
  border-radius: 15px;

  /* background */
  background: #FFFFFF;
  box-shadow: 0px 50px 100px -20px rgba(8, 70, 94, 0.504835);
  z-index: 1;
}
  .header-bg, .bg-pattern {
    height: 107%;
    width: 100%;
    border-radius: 15px 15px 0 0;
  }
  .image {
    position: relative;
    /* background-color: purple; */
    top: -44px;
    border: 5px solid #FFFFFF;
    border-radius: 50%;
  }
    .photo {
      position: relative;
      border-radius: 50%;
    }


  .description-box {
    display: relative;
  }

/* ========================================================================= */

/* 3. TYPOGRAPHY */



.attribution {
  font-size: 11px; text-align: center;
}
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

/* ========================================================================= */

/* 4. MEDIA QUERY */